/* Write your CSS here */
.heading {
  color: black;
  font-family: 'Lobster';
}

.GithubPopularReposComponent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
